* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.uy {
    width: 900px;
    height: 900px;
    margin-top: -30px;
    margin-left: 680px;
    position: relative;
}

.text1 {
    margin-top: -30px;
    font-family: Montserrat;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
}

.text2 {
    margin-top: 30px;
    font-family: Montserrat;
    font-weight: 800;
    font-style: ExtraBold;
    font-size: 40px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
}


.cards {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card {
    width: 382px;
    height: 534px;
    border-radius: 18px;
    opacity: 1;
    box-shadow: 0px 4px 30px 0px #2B1B121F;
    background-color: #DDC7BB;
}

.city {
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #2B1B12;
    margin-left: 32px;
    margin-top: 18px;
}

.p {
    margin-left: 25px;
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.pp {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4F3527;
}

.api {
    width: 382px;
    height: 356px;
    opacity: 1px;
    border-radius: 18px 18px 0px 0px;
}

.btn {
    display: flex;
    margin: 20px;
    gap: 6px;
}

.btnn {
    width: 100px;
    height: 30px;
    border-radius: 8px;
    background-color: #4F3527;
    color: white;
    border: none;
}

.price {
    font-family: Montserrat;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #4F3527;
    margin-top: -1px;
    margin-left: 20px;
}