* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  margin-top: 30px;
  margin-left: 100px;
  cursor: pointer;
  color: black;
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
}

.navh11 {
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: black;
  margin-left: 243px;
  text-decoration: none;
}

.navh1 {
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: black;
  margin-left: 120px;
  text-decoration: none;
}
.navbtn {
  width: 100px;
  height: 40px;
  background: #000000;
  border-radius: 5px;
  color: white;
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-left: 60px;
}

